*{
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}

h1{
    background-color: DodgerBlue;
    color: #F8F8F8;
    font-family: helvetica;
    margin: 0;
    text-align: center;
    line-height: 2.5rem;
    vertical-align: center;
}

button{
    display: flex;
    background-color: #F8F8F8;
    width: auto;
    height: 30rem;
    max-height: 30rem;
    max-width: 43rem;
    width: 40rem;
    text-align: center;
    cursor: pointer;
    border: none;
    line-height: 1rem;
    border-radius: 2rem;
    font-size: 30px;
    overflow: hidden;
    margin-inline:auto;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
}

img{
    width: 45rem;
    max-height: 30rem;
    max-width: 43rem;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


